main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
}
/* header */

.newsfeed-wrapper {
  position: relative;
  overflow: hidden;
  padding: 14px 0;
  color: var(--text-white);
  background-color: var(--primary);
  border-bottom: 1px solid #e9fffbb2;
}
.newsfeed {
  display: flex;
  justify-content: center;
  padding: 12px;
  gap: 20px;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  background: #e9fffb33;
  border: 1px solid #f3f3f3b2;
}

.newsfeed::before,
.newsfeed::after {
  content: "";
  position: absolute;
  top: 0px;
  background-size: contain;
  width: 200px;
  background-repeat: no-repeat;
  height: 100px;
  background-position: top;
}
.newsfeed::before {
  left: 3%;
  background-image: url("../img/header_left.svg");
}
.newsfeed::after {
  right: 3%;
  background-image: url("../img/header_right.svg");
}
.newsfeed-information {
  align-items: center;
  gap: 7.5px;
  display: flex;
}
.newsfeed-information p {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.main-header-wrapper {
  padding: 20px 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #e9fffb;
  background: #008080;
}
.main-header-wrapper-sticky {
  position: sticky;
  padding: 20px 0;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #e9fffb;
  background: #008080;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header nav {
  color: var(--text-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
}
.main-header nav a {
  color: #f3f3f3;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  transition: all 0.4s linear;
  letter-spacing: 0;
}
.main-header nav a:hover {
  color: var(--text-white);
}

.activeNav {
  font-weight: 700 !important;
  color: #f3f3f3 !important;
  font-weight: 600;
}

/* footer */

footer {
  background-color: var(--primary);
  display: flex;
  gap: 50px;
  padding: 50px 0;
  flex-direction: column;
}
.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-navigation-links nav {
  display: flex;
  gap: 26px;
  color: var(--links-offwhite);
}
.footer-navigation-links nav a {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.go-to-top-btn {
  color: var(--links-offwhite);
  display: flex;
  gap: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;

  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  align-items: center;
  padding-left: 20px;
  margin-top: 50px;
  border-radius: 8px;
  background: #e9fffb33;
  border: 1px solid #f3f3f3b2;
}

.footer-contacts {
  display: flex;
  color: var(--text-white);
  flex-direction: row;
  gap: 10px;
}
.footer-privacy_policy {
  color: var(--text-white);
}
.footer-contacts {
  display: flex;
}
.footer-contacts p {
  padding: 14px 16px;
  border: 1px solid #008080cc;
  border-radius: 6px;
}
.footer-contacts p a {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-privacy_policy {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #f2f2f2;
}

/* Hero Banner */
.hero-banner-section-wrapper {
  height: 100vh;
  max-height: 832px;
}
.herobanner-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  gap: clamp(10px, 4vw, 50px);
}
.herobanner-image-wrapper,
.herobanner-content-wrapper {
  width: 50%;
}
.banner-colored-background {
  position: relative;
  height: 100%;
  border-bottom-right-radius: 50px;
  background: #e9fffb;
  overflow: hidden;
}
.grid-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-image: url(../img/heroBanner/grid.png);
}
.hero-image {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero-img {
  object-fit: cover;
  object-position: center;
}

.herobanner-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.herobanner-content {
  display: flex;
  width: 100%;
  max-width: 730px;
  padding-right: 10px;
  flex-direction: column;
  gap: 20px;
}
.hero-subtitle h3 {
  color: #1a3129;
  font-weight: 600;
  font-size: clamp(18px, 3vw, 28px);
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 4px;
  text-decoration-thickness: 3px;
  text-decoration-color: #008080;
}
.hero-heading h1 {
  color: #1a3129;
  font-weight: 700;
  font-size: clamp(38px, 4vw, 58px);
  line-height: 100%;
  letter-spacing: 0%;
}
.section-title h2 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 48px);
  color: #262626;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}
.section-description p,
.feature-card-description p {
  color: #333333;
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 18px);
  line-height: 150%;
  letter-spacing: 0;
}
.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

/* user joined */
.user-joined-wrapper {
  display: flex;
  align-items: center;
}

.user-joined-images {
  display: flex;
  margin-right: 8px;
  padding: 8px 10px 7px;
  border-radius: 58px;
  border: 1px solid #008080;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin-left: -12px;
}

.user-image:first-child {
  margin-left: 0;
}

.image-avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-joined-count {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #1a3129;
}
.user-joined-count span {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #008080;
}

/* Features */
.features-section-wrapper,
.pricing-section-wrapper,
.blogs-section-wrapper,
.testimonials-section-wrapper {
  height: 100%;
}
.features-wrapper,
.pricing-wrapper,
.blogs-wrapper,
.testimonials-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: clamp(50px, 4vw, 80px);
}
.features-head,
.pricing-head,
.blogs-head .testimonials-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10%;
}

.features-cards-wrapper,
.blogs-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.feature-card {
  width: 100%;
  padding: 40px 50px;
  background: #e9fffb;
  border: 1px solid #7bbcb0b2;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  box-sizing: border-box;
}
.feature-card:hover {
  border: 1px solid #7bbcb0;
}

.feature-card-title {
  display: flex;
  align-items: center;
  gap: 14px;
}
.feature-card-title .icon {
  padding: 15px 14px;
  border-radius: 8px;
  background-color: #008080;
}
.feature-card-title .icon img {
  width: 35px;
  height: 35px;
}
.feature-card-title h3 {
  color: #262626;
  font-weight: 600;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* pricing */
.pricing-section-wrapper {
  margin-bottom: 100px;
}
.subscription-buttons-box-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 14px;
}

.subscription-buttons-box-wrapper p {
  color: #4c4c4d;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}

.subscription-buttons-box {
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #7bbcb0b2;
}
.subscription-buttons-box button {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #4c4c4c;
  transition: all 0.3s linear;
  padding: 10px 24px;
  border-radius: 6px;
  background: #ffffff;
}
.subscription-buttons-box .activePrice {
  padding: 10px 24px;
  border-radius: 6px;
  color: #ffffff;
  background: #008080;
}

.price-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.price-card {
  width: 100%;
  padding: clamp(30px, 3vw, 50px);
  background: #e9fffb;
  border: 1px solid #7bbcb0b2;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  box-sizing: border-box;
}
.price-card:hover {
  border: 1px solid #7bbcb0;
}
.price-card-header h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0;
  color: #262626;
}
.price-card-header span {
  color: #4c4c4d;
}

.feature-card .price-info p {
  color: #333333;
  align-items: center;
  font-weight: 500;
  display: flex;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}
.feature-card .price-info p span {
  color: #7bbcb0;
  font-weight: 700;
  font-size: 50px;
  margin-right: 4px;
  line-height: 88%;
  letter-spacing: 0;
}

.price-card .price-info p {
  color: #333333;
  align-items: center;
  font-weight: 500;
  display: flex;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}
.price-card .price-info p span {
  color: #7bbcb0;
  font-weight: 700;
  font-size: 50px;
  margin-right: 4px;
  line-height: 88%;
  letter-spacing: 0;
}

/* blogs */

.blog-card {
  width: 100%;
  padding: clamp(24px, 3vw, 40px);
  background: #e9fffb;
  border: 1px solid #7bbcb0b2;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  box-sizing: border-box;
}
.blog-card:hover {
  border: 1px solid #7bbcb0;
}
.blog-card-image {
  position: relative;
  width: 100%;
  aspect-ratio: 700/428;
  overflow: hidden;
  border-radius: 12px;
}
.blog-card-image img {
  object-fit: contain;
}
.blog-card-title {
  align-items: start;
}
.blog-card-title p {
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}
.blog-card-title h2 {
  font-weight: 600;
  font-size: 26px;
  font-size: clamp(18px, 3vw, 26px);

  line-height: 150%;
  color: #262626;
  letter-spacing: 0;
}
.blogs-description p {
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 18px);
  line-height: 150%;
  letter-spacing: 0%;
  color: #4c4c4d;
}

.blog-card-navigation {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 20px 16px;
  align-items: center;
  border: 1px solid #7bbcb0b2;
  background: #ffffff;
}
.card-author-info {
  display: flex;
  gap: clamp(14px, 2.5vw, 16px);
}
.card-author-info .info h3 {
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 150%;
  letter-spacing: 0;
  color: #1a3129;
}

.card-author-info .info p {
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 18px);
  line-height: 150%;
  letter-spacing: 0;
  color: #59595a;
}

.like-save-button-wrapper {
  display: flex;
  gap: 10px;
}

.like-button,
.save-button {
  padding: 18px;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 12px;
  background: #e9fffb;
  border: 1px solid #7bbcb0b2;
}
.like-button:hover,
.save-button:hover {
  border: 1px solid #7bbcb0;
}

/* testimonials */

.testimonials-cards-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.testimonial-swiper-wrapper {
  width: 100%;
  margin: 0 auto;
}

.testimonial-card {
  position: relative;
  background: #ffffff;
  border: 1px solid #7bbcb0b2;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}
.testimonial-card::before {
  content: "";
  background: url("../img/quotes.svg");
  height: 25px;
  width: 32px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.testimonial-description {
  padding: 130px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.testimonial-description p {
  color: #333333;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}
.testimonial-text {
  font-size: 1.1rem;
  font-style: italic;
  color: #333;
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 30px 40px;
  background: #e9fffb;
}
.testimonial-author h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #1a3129;
}
.testimonial-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.custom-pagination {
  width: 100px !important;
  display: flex;
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background-color: #E9FFFB;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-bullet.swiper-pagination-bullet-active {
  background: #7BBCB0B2;

}

.custom-nav-buttons {
  align-items: center;
  display: flex;
  gap: 20px;
}

.custom-prev,
.custom-next {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #E9FFFB;
  border: 1px solid #E9FFFB
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #8CD6CF;
  ;
}




@media (max-width: 780px) {
  .features-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 30px;
  }
  .feature-card {
    width: 100%;
    padding: 30px;
  }
  .feature-card-title .icon {
    padding: 10px 11px;
    border-radius: 8px;
    background-color: #008080;
  }

  .price-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .blogs-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 30px;
  }
  .blog-card-navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card-author-info img {
    width: 40px;
    height: 40px;
  }
  .blog-card-navigation {
    align-items: end;
  }
}

@media (max-width: 450px) {
  .newsfeed-wrapper {
    padding: 40px 0px 0px;
  }

  .newsfeed-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-size: contain;
    width: 133px;
    background-repeat: no-repeat;
    height: 30px;
    right: -90px;
    background-image: url("../img/header_right.svg");
  }

  .newsfeed-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0px;
    background-size: contain;
    width: 133px;
    background-repeat: no-repeat;
    height: 30px;
    left: -90px;
    background-image: url("../img/header_left.svg");
  }

  .newsfeed {
    margin: 10px 0;
    z-index: 2;
    background: #008080;
  }
  .newsfeed::before,
  .newsfeed::after {
    display: none;
  }
  .newsfeed-information p {
    font-size: 14px;
  }

  .newsfeed-information img {
    width: 17px;
    height: 17px;
  }
  .newsfeed-link {
    font-weight: 500;
    font-size: 18px;
  }

  .newsfeed-link img {
    width: 14px;
    height: 16px;
  }
}
